<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANAN | ERROR</title>
    <link rel="shortcut icon" href="/static/images/fav.png" type="image/png">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/error.css">
</head>

<body>
    <main>
        <div class="error-container">
            <div id="error-code">CODE</div>
            <div id="error-message">- - - ERROR MESSAGE - - -</div>
        </div>
    </main>
    <script src="/static/js/cookies.js"></script>
    <script src="/static/js/error.js"></script>
</body>

</html>